@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row">
        <h1>Read Current Email</h1>
        <p id="readLabel"></p>
        <button onclick="readMail()">Read Email</button>
    </div>
        

    <div class="row">
        <h1>Write to Current Email</h1>
        <form>
            <div class="form-group">
                <label>Write something in this box!</label>
                <textarea id="writeBox" class="form-control" row="3" col="2" placeholder="Please enter a message"></textarea>
            </div>
        </form>
        <button onclick="writeMail()">Write Email</button>
    </div>

</div>
